In [101]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [102]:
df = pd.read_csv('loan_approval_dataset.csv')

In [103]:
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [104]:
df.shape

(4269, 13)

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   loan_id                    4269 non-null   int64
 1    no_of_dependents          4269 non-null   int64
 2    education                 4269 non-null   object
 3    self_employed             4269 non-null   object
 4    income_annum              4269 non-null   int64
 5    loan_amount               4269 non-null   int64
 6    loan_term                 4269 non-null   int64
 7    cibil_score               4269 non-null   int64
 8    residential_assets_value  4269 non-null   int64
 9    commercial_assets_value   4269 non-null   int64
 10   luxury_assets_value       4269 non-null   int64
 11   bank_asset_value          4269 non-null   int64
 12   loan_status               4269 non-null   object
dtypes: int64(10), object(3)
memory usage: 433.7+ KB

In [106]:
df.isnull()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,False,False,False,False,False,False,False,False,False,False,False,False,False
4265,False,False,False,False,False,False,False,False,False,False,False,False,False
4266,False,False,False,False,False,False,False,False,False,False,False,False,False
4267,False,False,False,False,False,False,False,False,False,False,False,False,False
4268,False,False,False,False,False,False,False,False,False,False,False,False,False

In [107]:
df.duplicated().sum()

0

In [108]:
df.columns

Index(['loan_id', ' no_of_dependents', ' education', ' self_employed',
       ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

In [109]:
df.columns = df.columns.str.strip()

In [110]:
df.columns

Index(['loan_id', 'no_of_dependents', 'education', 'self_employed',
       'income_annum', 'loan_amount', 'loan_term', 'cibil_score',
       'residential_assets_value', 'commercial_assets_value',
       'luxury_assets_value', 'bank_asset_value', 'loan_status'],
      dtype='object')

In [111]:
df['Assets'] = df.residential_assets_value + df.commercial_assets_value+df.luxury_assets_value+df.bank_asset_value

In [112]:
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status,Assets
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved,50700000
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected,17000000
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected,57700000
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected,52700000
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected,55000000

In [113]:
df.drop(columns = ['residential_assets_value','commercial_assets_value','luxury_assets_value','bank_asset_value'], inplace = True)

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   loan_id           4269 non-null   int64
 1   no_of_dependents  4269 non-null   int64
 2   education         4269 non-null   object
 3   self_employed     4269 non-null   object
 4   income_annum      4269 non-null   int64
 5   loan_amount       4269 non-null   int64
 6   loan_term         4269 non-null   int64
 7   cibil_score       4269 non-null   int64
 8   loan_status       4269 non-null   object
 9   Assets            4269 non-null   int64
dtypes: int64(7), object(3)
memory usage: 333.6+ KB

In [115]:
df.education.unique()

array([' Graduate', ' Not Graduate'], dtype=object)

In [116]:
def clean_data(st):
    st = st.strip()
    return st

In [117]:
clean_data(' Graduate')

'Graduate'

In [118]:
df.education = df.education.apply(clean_data)

In [119]:
df.education.unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [120]:
df['education'] = df['education'].replace(['Graduate', 'Not Graduate'], [1, 0])

C:\Users\rushi\AppData\Local\Temp\ipykernel_15120\260192455.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['education'] = df['education'].replace(['Graduate', 'Not Graduate'], [1, 0])

In [121]:
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,loan_status,Assets
0,1,2,1,No,9600000,29900000,12,778,Approved,50700000
1,2,0,0,Yes,4100000,12200000,8,417,Rejected,17000000
2,3,3,1,No,9100000,29700000,20,506,Rejected,57700000
3,4,3,1,No,8200000,30700000,8,467,Rejected,52700000
4,5,5,0,Yes,9800000,24200000,20,382,Rejected,55000000

In [122]:
df['self_employed'].unique()

array([' No', ' Yes'], dtype=object)

In [123]:
df.self_employed = df.self_employed.apply(clean_data)

In [124]:
df['self_employed'].unique()

array(['No', 'Yes'], dtype=object)

In [125]:
df['self_employed'] = df['self_employed'].replace(['No', 'Yes'], [0, 1])

C:\Users\rushi\AppData\Local\Temp\ipykernel_15120\3585610741.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['self_employed'] = df['self_employed'].replace(['No', 'Yes'], [0, 1])

In [126]:
df

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,loan_status,Assets
0,1,2,1,0,9600000,29900000,12,778,Approved,50700000
1,2,0,0,1,4100000,12200000,8,417,Rejected,17000000
2,3,3,1,0,9100000,29700000,20,506,Rejected,57700000
3,4,3,1,0,8200000,30700000,8,467,Rejected,52700000
4,5,5,0,1,9800000,24200000,20,382,Rejected,55000000
...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,1,1,1000000,2300000,12,317,Rejected,7400000
4265,4266,0,0,1,3300000,11300000,20,559,Approved,20000000
4266,4267,2,0,0,6500000,23900000,18,457,Rejected,39000000
4267,4268,1,0,0,4100000,12800000,8,780,Approved,28800000
4268,4269,1,1,0,9200000,29700000,10,607,Approved,77300000

In [127]:
df.loan_status.unique()

array([' Approved', ' Rejected'], dtype=object)

In [128]:
df.loan_status = df.loan_status.apply(clean_data)

In [129]:
df.loan_status.unique()

array(['Approved', 'Rejected'], dtype=object)

In [130]:
df['loan_status'] = df['loan_status'].replace(['Approved', 'Rejected'], [1, 0])

C:\Users\rushi\AppData\Local\Temp\ipykernel_15120\2089693905.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['loan_status'] = df['loan_status'].replace(['Approved', 'Rejected'], [1, 0])

In [131]:
df

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,loan_status,Assets
0,1,2,1,0,9600000,29900000,12,778,1,50700000
1,2,0,0,1,4100000,12200000,8,417,0,17000000
2,3,3,1,0,9100000,29700000,20,506,0,57700000
3,4,3,1,0,8200000,30700000,8,467,0,52700000
4,5,5,0,1,9800000,24200000,20,382,0,55000000
...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,1,1,1000000,2300000,12,317,0,7400000
4265,4266,0,0,1,3300000,11300000,20,559,1,20000000
4266,4267,2,0,0,6500000,23900000,18,457,0,39000000
4267,4268,1,0,0,4100000,12800000,8,780,1,28800000
4268,4269,1,1,0,9200000,29700000,10,607,1,77300000

In [132]:
from sklearn.model_selection import train_test_split

In [133]:
input_data = df.drop(columns='loan_status',axis=1)
output_data = df['loan_status']

In [134]:
input_data

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,Assets
0,1,2,1,0,9600000,29900000,12,778,50700000
1,2,0,0,1,4100000,12200000,8,417,17000000
2,3,3,1,0,9100000,29700000,20,506,57700000
3,4,3,1,0,8200000,30700000,8,467,52700000
4,5,5,0,1,9800000,24200000,20,382,55000000
...,...,...,...,...,...,...,...,...,...
4264,4265,5,1,1,1000000,2300000,12,317,7400000
4265,4266,0,0,1,3300000,11300000,20,559,20000000
4266,4267,2,0,0,6500000,23900000,18,457,39000000
4267,4268,1,0,0,4100000,12800000,8,780,28800000
4268,4269,1,1,0,9200000,29700000,10,607,77300000

In [135]:
output_data

0       1
1       0
2       0
3       0
4       0
       ..
4264    0
4265    1
4266    0
4267    1
4268    1
Name: loan_status, Length: 4269, dtype: int64

In [136]:
x_train, x_test, y_train, y_test = train_test_split(input_data,output_data,test_size=0.2, random_state=42)

In [137]:
from sklearn.preprocessing import StandardScaler

In [138]:
scaler = StandardScaler()

In [139]:
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [140]:
from sklearn.linear_model import LogisticRegression

In [141]:
model = LogisticRegression()

In [142]:
model.fit(x_train_scaled,y_train)

LogisticRegression()

In [143]:
model.score(x_test_scaled,y_test)

0.9086651053864169

In [144]:
pred_data = pd.DataFrame([['1','2','1','0','9600000','29900000','12','778','50700000']],columns=['loan_id',	'no_of_dependents'	,'education',	'self_employed','income_annum','loan_amount','loan_term','cibil_score','Assets'])

In [145]:
pred_data = scaler.transform(pred_data)

In [146]:
model.predict(pred_data)

array([1], dtype=int64)

In [147]:
import pickle as pk

In [148]:
pk.dump(model,open('model.pkl','wb'))

In [149]:
pk.dump(scaler,open('scaler.pkl','wb'))